
</div>
<div class="footer-padding"></div>
  <div class="footer" style="position: relative; bottom: 0; ">
    <center><p style="margin-top: 20px;">Made with ❤️ by The App Brewery</p></center>
  </div>
</div>
</body>
</html>
